.sb-navbar > ul {
    padding: 0;
}
.tab{
    box-sizing: border-box;
    color: #ffffff;
}
.tab:hover{
    border-bottom: 2px  solid  #30B3D5;
}

.tab.selected{
    border-bottom: 2px  solid  #30B3D5;
}

@media only screen and (max-width: 1000px) {
    .sb-navbar > ul{
      flex-direction: column;
      justify-content: start;
    }
  }