/* Global css */

* {
  padding: 0;
  margin: 0;
}

body {
  background: #F8F8FC;
}

.noBgButton {
  border: none !important;
  padding: 0 !important;
  background: none !important;
  cursor: pointer !important;
}

.stickySubNav {
  position: sticky;
  top: 70px;
  background-color: #F8F8FC;
  z-index: 100;
}
  